* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  transition: 0.3s;

}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafc;
  transition: 0.3s;

}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #fff;
  border-right: 1px solid #eee;
  padding: 20px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}

.logo .version {
  color: #999;
  font-size: 14px;
  margin-left: 4px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  color: #555;
}

.sidebar li:hover {
  background-color: #f2f2f2;
}

.sidebar li.active {
  background-color: #6f42ff;
  color: #fff;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 22px;
}

.search {
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search.small {
  width: 200px;
}

/* Card */
.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.card-header h2 {
  margin: 0;
}

.card-header p {
  color: #6f42ff;
  margin: 0;
  font-size: 14px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.status {
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:active{
  transform: scale(0.92);
}

.status.active {
  background-color: #dcfce7;
  color: #16a34a;
}

.status.inactive {
  background-color: #fee2e2;
  color: #dc2626;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 13px;
  color: #777;
}

td img{
  max-height: 30px;
}

.pages button {
  border: none;
  background: none;
  margin: 0 4px;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.pages button.active {
  background-color: #6f42ff;
  color: #fff;
}
